{% extends 'layout.html' %}
<!---->
{% block content %}
<div class="remote">
  <ul>
    <li>
      <a href="#content-main"><span>▲</span></a>
    </li>
    <li>
      <a href="#dummy"><span>▼</span></a>
    </li>
  </ul>
</div>

{% if teams %}
<div class="main" id="main">
  <article id="content-main" class="content slider">
    <ul class="panel">
      {% for team in teams %}
      <li>
        <article id="content-main" class="content">
          <table class="main-table member-table">
            {% for member in team.members %}
            <tr>
              <td><img src="media/spongebob.png" alt="" /></td>
              <td>
                <p>"{{member.message}}"</p>
                <p>{{member.position}} {{member.name}}</p>
              </td>
            </tr>
            {% endfor %}
          </table>
          <table class="main-table text-table">
            <tr>
              <td>
                <p>
                  뛰어난 실력도
                  <br />
                  증명하지 않으면
                  <br />
                  소용없습니다
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  클라이언트의 커리어를 더욱 빛나게 해줄 웹사이트를 만듭니다.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a class="button" href="/request"><span>의뢰하기</span></a>
              </td>
            </tr>
          </table>
        </article>
      </li>
      {% endfor %}
    </ul>
    <ul class="btn">
      {% for team in teams %}
      <li>버튼1</li>
      {% endfor %}
    </ul>
    <button class="prev"><</button>
    <button class="next">></button>
  </article>
</div>

{% endif %} {% endblock %}
